:root{
    --primary-color: rgb(241, 94, 34);
}

/* NAV RELATED */

#navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
    margin-bottom: 30px;
    background-color: var(--primary-color);
}

#navbar-links-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex: 1;
}

#navbar-links-container a{
    position: relative;
    margin: 0% 10%;
    text-decoration: none;
    color: white;
}

#navbar-links-container a:hover{
    color:white;
}

#navbar-links-container a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

#navbar-links-container a:hover::before{
    transform: scaleX(1);
}

#website-link-container{
    text-decoration: none;
    color: white;
    font-family: "Anton SC", sans-serif;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    white-space: nowrap;
    cursor: default;
    flex: 1;
}

#website-title{
    cursor: pointer;
}

#navbar-button{
    display: flex;
    justify-content: right;
    flex: 1;
}

/* SEARCH RELATED */

#search-form{
    display: flex;
    justify-content: center;
    margin: 0 0 25px 0;
}

#entry-container{
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    border: solid var(--primary-color) .15rem;
    border-radius: 6px;
}

#input-section{
    margin: 0% 5%;
}

input{
    padding-left: 7px;
    border: solid rgb(155, 155, 155);
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    transition: border-color 0.4s ease;
}

input:focus{
    border-color: var(--primary-color);
}

#confirmation{
    padding: 3px;
    height: 28px;
    line-height: 19px;
    border: solid var(--primary-color) 2px;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.2s;
}

i{
    color: var(--primary-color);
    transition: color 0.2s;
}

#confirmation:hover i{
    color: white;
}

#confirmation:hover{
    background-color: var(--primary-color);
}

/* ALERT RELATED */

#alerter{
    display: block;
    height: 0px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.299);
    overflow: hidden;
    line-height: 50px;
    transition: 1s ease;
}

#alerter.show{
    margin-bottom: 25px;
    height: 50px;
}

/* RESULTS RELATED */

#result-container{
    display: flex;
    flex-direction: column;
    margin: 30px 10%;
}

#result-container > :first-child{
    border-top: 2px solid var(--primary-color);
}

.result-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 2%;
    border-bottom: 2px solid var(--primary-color);
}

.result-row-info{
    display: flex;
    flex-direction: row;
}

.result-image{
    border-radius: 1000px;
}

.artist-song-info{
    padding: 5px 20px;
    width: 200px;
    line-height: 40px;
}

.result-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-lyrics-btn{
    width: 100px;
    height: 60px;
    border: 2px solid var(--primary-color);
    border-radius: 7px;
    background-color: white;
    outline: none;
    transition: color 0.2s;
}

.find-lyrics-btn:hover{
    color: var(--primary-color);
}

.result-header{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.info-photo{
    margin: auto;
    min-width: 200px;
    max-width: 250px;
    border-radius: 6px;
}

/* BODY RELATED */

#body-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
    width: 100%;
}

#jump-section{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#artist-jump-link{
    padding: 5px 10px;
    border: .12rem solid var(--primary-color);
    border-radius: 25px;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}

#artist-jump-link:hover{
    color: var(--primary-color);
}

.down-arrow{
    line-height: 24px;
}

/* CARD RELATED */

.info-card{
    width: 40%;
    margin: 0px 2% 30px 0px;
    max-width: 650px;
}

.card-content{
    padding: 6% 7% 7% 7%;
    border: solid var(--primary-color) 2px;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
    font-family: "Nunito", sans-serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
}

.card-head{
    height: 55px;
    border: solid var(--primary-color) 0.15rem;
    border-radius: 10px 10px 0px 0px;
    font-family: "Anton SC", sans-serif;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color: var(--primary-color);
    letter-spacing: 1px;
}

.small-inline-heading{
    display: inline;
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
    color: var(--primary-color);
}

#lyrics-content{
    height: 0;
    overflow: hidden;
    transition: height 1s ease;
}

#lyrics-content.show{
    height: 100%;
}

#lyrics{
    margin: 0;
    white-space: pre-line;
}

#song-header{
    display: block;
    text-align: center;
    color: var(--primary-color);
}

#artist-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: height 1s ease;
}

#artist-content.show{
    height: auto;
}

/* RESPONSIVENESS RELATED */

@media(max-width: 750px){
    #navbar-container{
        flex-wrap: wrap;
    }

    #title-section{
        flex: 1 0 50%;
    }

    #website-link-container{
        flex-basis: 100%;
        border-bottom: solid white 1px;
        margin-bottom: 8px;
    }

    #navbar-links-container{
        order: 2;
    }

    #navbar-button{
        order: 3;
    }
}

@media(max-width: 251px){
    #navbar-button{
        justify-content: center;
    }

    #navbar-links a{
        padding-right: 0%;
        padding: 0px 10%;
    }

    #website-link{
        white-space: normal;
    }
}

@media(max-width: 500px){
    #entry-container{
        flex-direction: column;
        padding: 5% 5%;
    }

    #input-section{
        margin: 0px 0px 10px 0px;
    }

    #song-entry{
        padding: 0px 7px;
    }

    #song-entry::placeholder{
        text-align: center;
    }
}

@media(max-width: 560px){
    /* results row stuff */
}

@media(max-width: 730px){
    #artist-card{
        order: 100;
    }

    .info-card{
        margin: 10px auto;
        width: 85%;
    }

    #body-container{
        flex-direction: column;
        justify-content: center;
    }

}

@media(min-width: 731px){
    #jump-section{
        display: none;
    }
}



